tqdm
environs
bson
shortuuid
python-json-logger
pydantic
requests
omegaconf
transformers
torchvision
denoiser
webrtcvad
sphfile
pytube
wget
voicefixer
audiosr==0.0.5
librosa
git+https://github.com/openai/whisper.git
git+https://github.com/facebookresearch/demucs#egg=demucs
git+https://github.com/pyannote/pyannote-audio.git